/*Footer*/
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15.5px;
  text-align: justify;
}

.footerPage {
  background-color: var(--blue-footer);
}

.white-text {
  color: #fff;
}

.col-md-4 h5 {
  font-size: 1.174rem;
}

.footer-copyright {
  padding-bottom: 25px;
}

.center-copyright {
  display: flex;
  justify-content: center;
}

.contact {
  color: #ffffff9c;
  padding-left: 0px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textGroup h5,
p {
  color: var(--navbar-color);
  padding-left: 15px;
  padding-right: 15px;
}

.counter {
  margin-left: 0;
}

.logo {
  height: 35px;
}
