<div class="content">
  <app-navbar></app-navbar>
  <section id="about" class="about">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="text-blue">Projeto:</h2>
        <h5 class="text-blue mb-5">Mapeamento do Lago de Furnas</h5>
      </div>
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-md-6">
          <div class="paragraph text-lg-left">
            <p>A represa da Usina Hidrelétrica de Furnas teve sua construção iniciada no final da
              década de 1950,
              criando um dos mais expressivos reservatórios de água doce do país. A barragem está localizada entre os
              municípios sul-mineiros
              de São José da Barra e São João Batista do Glória, tendo potência instalada de 1.216 megawatts e
              capacidade de armazenamento
              de 22,95 bilhões de metros cúbicos. Sua operação iniciou-se em setembro de 1963, após um rápido
              enchimento, o que causou
              diversos impactos sociais à população, devido ao avanço das águas sobre cidades e áreas produtivas. Desde
              então, o lago de
              Furnas sustenta uma diversificada rede de atividades socioeconômicas dentre estas a pesca, a piscicultura,
              o turismo, a
              gastronomia, o abastecimento humano, a irrigação dentre outras. Entretanto, a variação sazonal do lago
              impacta diretamente
              na economia regional, acarretando expressivos impactos em diversos setores.</p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid img-about" src="../../assets/img/page/mapeamento-lago.png" alt=""><br>
          <span class="desc-ferramenta text-blue mb-3">Monitoramento da área do espelho d’água e volume útil por imagens
            de satélite.</span>
        </div>
      </div>
      <div class="row paragraph text-lg-left mb-5">
        <p>
          Neste sentido, o monitoramento do nível do lago representa uma atividade de expressiva importância para a
          região Sul de Minas, visto a necessidade de acompanhamento da variação espacial do espelho d’água, que poderá
          contribuir para o estabelecimento de políticas regionais de crescimento e desenvolvimento.
          O mapeamento de superfícies líquidas ou massas d’água, tais como o lago de Furnas, tornou-se mais dinâmico em
          virtude da utilização de tecnologias orbitais, iniciadas no final da década de 1970, principalmente, focado no
          programa Landsat da Agência Espacial Norte-Americana. Estas tecnologias, pautadas por imagens de satélites,
          são capazes de detectar extensas superfícies em um único instante, possuem períodos de revisitas programadas,
          gerando banco de imagens históricas e, desde 2005, tornaram-se gratuitas ao acesso.
          Neste contexto, o presente trabalho visa mapear o espelho d’água do lago de Furnas, por meio do processamento
          de imagens dos satélites Landsat 5 e Landsat 8 desde 1995, buscando evidenciar a variação de nível d’água do
          lago de Furnas.</p>
        <p>Para este fim, são utilizadas técnicas de processamento digital de imagens para a banda do infravermelho
          próximo, advindas dos sensores TM do satélite Landsat 5 e OLI do satélite Landsat 8, utilizando-se dos
          softwares Envi Zoom© 5.0 e ArcGIS® 10.6.1. São utilizadas neste projeto as órbitas/ponto 219/074 e 219/075.
        </p>
      </div>
      <div class="row text-lg-left mb-4">
        <div class="textGroup">
          <h5>Equipe</h5>
          <p>
            Kelvin Silva Caovila Santos<br>
            E-mail: kelvin.caovila@yahoo.com.br
          </p>
        </div>
      </div>
      <div class="row text-lg-left mb-4">
        <div class="textGroup">
          <h5>Coordenação</h5>
          <p>
            Prof. Dr. Marcelo de Oliveira Latuf<br>
            E-mail: marcelo.latuf@unifal-mg.edu.br
          </p>
        </div>
      </div>
      <div class="row text-lg-left mb-4">
        <div class="textGroup">
          <h5>Fomento</h5>
          <p>
            Estágio voluntário no Laboratório de Cartografia<br>
            Monitor das disciplinas de Cartografia Básica e Cartografia Temática<br>
            Semestres letivos: 2018.1 e 2018.2
          </p>
        </div>
      </div>
      <div class="row text-lg-left mb-4">
        <div class="textGroup">
          <h5>Dados disponibilizados</h5>
          <p>
            - Arquivos vetoriais no formato Shapefile do espelho d’água do lago de Furnas, obtidos após processamento de
            imagens orbitais dos satélites Landsat 5 (sensor TM) e Landsat 8 (sensor OLI), com resolução espacial de
            30m,
            no período de 1995 a 2019 (25 anos), na projeção Universal Transversa de Mercator com datum horizontal
            WGS84.<br>
            - Buscaremos esforços na continuação do mapeamento dos anos subsequentes à 2019.
          </p>
        </div>
      </div>
      <div class="row text-lg-left mb-4">
        <div class="textGroup">
          <h5>Contatos</h5>
          <p>
            Universidade Federal de Alfenas<br>
            Curso de Geografia<br>
            Laboratório de Cartografia<br>
            (35) 3701-1932/1933<br>
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="footerPage">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="white-text mb-5 pt-4">Contatos</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h5 class="white-text">Unidade Educacional Santa Clara</h5>
          <p class="contact">
            Bairro Santa Clara - Alfenas <br>
            Av. Jovino Fernandes Sales, 2600 <br>
            CEP: 37133-840 <br>
            Laboratório de Cartografia <br>
            Prédio B, Sala 212 <br>
            Telefone: (35) 3701-1932-1933</p><br>
          <h5 class="white-text">Laboratório de Cartografia</h5>
          <p class="contact">
            Prof. Marcelo de Oliveira Latuf<br>
            marcelo.latuf@unifal-mg.edu.br<br>
            Unidade Santa Clara - Prédio B Sala 402 L<br>
            Telefone: (35)3701-1932, (35)3701-1933
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="white-text">Departamento de Ciência da Computação</h5>
          <p class="contact">
            Prof. Rodrigo Martins Pagliares<br>
            pagliares@bcc.unifal-mg.edu.br<br>
            Prédio C, Sala 301-I<br>
            Telefone: (35)3701-1949</p>
        </div>
        <div class="col-md-4">
          <!-- Widget Previs&atilde;o de Tempo CPTEC/INPE -->
          <iframe allowtransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0"
            scrolling="no" src="https://www.cptec.inpe.br/widget/widget.php?p=356&w=h&c=748ccc&f=ffffff" height="200px"
            width="215px">
          </iframe>
          <noscript>Previs&atilde;o de <a href="http://www.cptec.inpe.br/cidades/tempo/356">Alfenas/MG</a> oferecido por
            <a href="http://www.cptec.inpe.br">CPTEC/INPE</a></noscript>
          <!-- Widget Previs&atilde;o de Tempo CPTEC/INPE -->
          <div class="row">
            <p class="contact">
              Visitas ao site:
            </p>
            <div align=center>
              <img src='https://www.counter12.com/img-YacAbcWb4230ZBZC-79.gif' border='0' alt='web counter free'>
              <script type='text/javascript' src='https://www.counter12.com/ad.js?id=YacAbcWb4230ZBZC'></script><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-copyright">
        <span class="white-text">© 2020 Copyright</span>
      </div>
    </div>
  </footer>
</div>