p {
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify;
}

.paragraph p {
  color: var(--navbar-color);
  text-indent: 3em;
  margin: 0;
  /*font-family: 'Crimson Pro', serif;*/
}

.paragraph span {
  width: 100%;
  color: var(--navbar-color);
  padding-left: 15px;
}

.team-sisgeo {
  margin-top: 20px;
}

/* About */
.about {
  padding: 6rem 0 3rem 0px;
}

.about .container .row .col-lg-5 {
  padding-left: 0px;
}

.about .container .row .initial {
  padding-left: 15px !important;
}

.about .container .row .col-md-6 {
  padding-left: 0px;
}

.about .container .row .col-md-6 .paragraph p {
  padding-top: 30px;
}

.text-blue {
  color: var(--navbar-color);
  font-family: "Patua One";
  padding: 15px;
}

.desc-ferramenta {
  /*font-family: 'Crimson Pro', serif;*/
  position: relative;
  top: -28px;
  left: 15px;
  font-size: 13px;
}

.img-about {
  padding: 30px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textGroup h5,
p {
  color: var(--navbar-color);
  padding-left: 15px;
  padding-right: 15px;
}