.content {
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  scroll-behavior: smooth;
  z-index: 1;
  width: 100%;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15.5px;
  text-align: justify;
}

.paragraph p {
  color: var(--navbar-color);
  text-indent: 3em;
  margin: 0;
  /*font-family: 'Crimson Pro', serif;*/
}

.paragraph span {
  width: 100%;
  color: var(--navbar-color);
  padding-left: 15px;
}

.team-sisgeo {
  margin-top: 20px;
}

/* About */
.about {
  padding: 6rem 0;
}

.about .container .row .col-lg-5 {
  padding-left: 0px;
}

.about .container .row .initial {
  padding-left: 15px !important;
}

.about .container .row .col-md-6 {
  padding-left: 0px;
}

.about .container .row .col-md-6 .paragraph p {
  padding-left: 0px;
}

.text-blue {
  color: var(--navbar-color);
  padding: 15px;
}

.desc-ferramenta {
  /*font-family: 'Crimson Pro', serif;*/
  position: relative;
  top: -28px;
  left: 15px;
  font-size: 13px;
}

.img-about {
  padding: 30px;
}

/*Footer*/
.footerPage {
  background-color: var(--blue-footer);
}

.white-text {
  color: #fff;
}

.footer-copyright {
  padding-bottom: 25px;
}

.center-copyright {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact {
  color: #ffffff9c;
  padding-left: 0px;
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  border-radius: 35px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textGroup h5,
p {
  color: var(--navbar-color);
  padding-left: 15px;
  padding-right: 15px;
}

.counter {
  margin-left: 0;
}