<div class="content">
    <app-navbar></app-navbar>
    <section id="about" class="about">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="text-blue">Projeto:</h2>
                <h5 class="text-blue mb-5">Topografia da bacia hidrográfica do lago de Furnas</h5>
            </div>
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-md-6">
                    <div class="paragraph text-lg-left">
                        <p>A bacia hidrográfica da Usina Hidrelétrica de Furnas abrange uma área
                            de aproximadamente 51.950km²,
                            sendo 51.272km² pertencentes ao Estado de Minas Gerais e 678km² ao Estado de São Paulo.
                            Objetiva-se com este projeto o compartilhamento de cartas topográficas digitais registradas,
                            na escala de 1:50.000, oriundas do
                            mapeamento sistemático nacional, tendo o recobrimento territorial da bacia hidrográfica do
                            lago de Furnas, bem como produto
                            topográfico do programa SRTM da Agência Espacial Norte-Americana (NASA).</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid img-about" src="../../assets/img/page/topografia.png" alt=""><br>
                    <span class="desc-ferramenta text-blue mb-3">Repositório de dados topográficos da bacia hidrográfica
                        de Furnas.</span>
                </div>
            </div>
            <div class="row paragraph text-lg-left mb-5">
                <p>
                    O registro foi realizado em ambiente de Sistema de Informação Geográfica, pelo software ArcGIS®
                    10.6.1, com a definição de 17 pontos
                    de controle distribuídos ao longo das 101 cartas topográficas que recobrem a bacia. O erro máximo
                    admissível para cada ponto foi de
                    15m, adotando-se a metodologia da Diretoria de Serviço Geográfico do Exército de 0,3mm da escala da
                    carta. Em breve serão
                    disponibilizados a Raiz do Erro Médio Quadrático (RMSE) de todas as cartas topográficas.
                </p>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Equipe</h5>
                    <p>
                        André Paulo Ribeiro Junior<br>
                        E-mail: apaulo193@gmail.com <br><br>
                        Guilherme Aparecido Ferraz de Souza (Bolsista) <br>
                        E-mail: guiferraz84@yahoo.com.br <br><br>
                        Luize Batista Campos (Bolsista FAPEMIG) <br>
                        E-mail: luizebcampos@gmail.com <br><br>
                        Guilherme da Silva Rios <br>
                        E-mail: guilhermesilvarios@gmail.com <br>
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Coordenação</h5>
                    <p>
                        Prof. Dr. Marcelo de Oliveira Latuf<br>
                        E-mail: marcelo.latuf@unifal-mg.edu.br
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Fomento</h5>
                    <p>
                        1 Estágio voluntário no Laboratório de Cartografia (semestres letivos: 2017.1 e 2019.1).<br>
                        2 Monitor das disciplinas de Cartografia Básica (semestre letivo: 2017.1).<br>
                        3 Bolsista FAPEMIG de iniciação científica entre 2015 e 2016.
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Dados disponibilizados</h5>
                    <p>
                        - Arquivos matriciais das cartas topográficas da escala de 1:50.000 do Instituto Brasileiro de
                        Geografia e Estatística
                        (IBGE), que recobrem a bacia hidrográfica do lago de Furnas, bem como modelo digital de elevação
                        oriundo da Agência
                        Espacial Norte-Americana, com resolução espacial de 90m. <br>
                        - Buscaremos esforços para a contínua expansão de dados a respeito da topografia bacia
                        hidrográfica de Furnas.
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Contatos</h5>
                    <p>
                        Universidade Federal de Alfenas<br>
                        Curso de Geografia<br>
                        Laboratório de Cartografia<br>
                        (35) 3701-1932/1933<br>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footerPage">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="white-text mb-4 pt-3">Contatos</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="white-text">Unidade Educacional Santa Clara</h5>
                    <p class="contact">
                        Bairro Santa Clara - Alfenas <br>
                        Av. Jovino Fernandes Sales, 2600 <br>
                        CEP: 37133-840 <br>
                        Laboratório de Cartografia <br>
                        Prédio B, Sala 212 <br>
                        Telefone: (35) 3701-1932-1933</p><br>
                </div>
                <div class="col-md-4">
                    <h5 class="white-text">Laboratório de Cartografia</h5>
                    <p class="contact">
                        Prof. Marcelo de Oliveira Latuf<br>
                        marcelo.latuf@unifal-mg.edu.br<br>
                        Unidade Santa Clara - Prédio B Sala 402 L<br>
                        Telefone: (35)3701-1932, (35)3701-1933
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="white-text">Departamento de Ciência da Computação</h5>
                    <p class="contact">
                        Prof. Rodrigo Martins Pagliares<br>
                        pagliares@bcc.unifal-mg.edu.br<br>
                        Prédio C, Sala 301-I<br>
                        Telefone: (35)3701-1949</p>
                    <!--Visits deveria vir de um service do core reporting do google e ser um número da api-->
                    <div *ngIf="visits > 0" class="row counter">
                        <p class="contact">
                            Visitas:
                        </p>
                        <animated-digit [digit]="visits" [duration]="3000"></animated-digit>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center-copyright">
                    <span class="white-text">© 2020 Copyright</span>
                </div>
            </div>
        </div>
    </footer>
</div>