<div class="content">
    <app-navbar></app-navbar>
    <section id="about" class="about">
        <div class="container">
            <div class="content-section-heading text-center">
                <h1 class="my-5">Site em contrução!</h1>
              
            </div>
            <div class="text-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../../assets/img/page/ic-construcao.png" alt="Site em Construção">
                </div>
            </div>
        </div>
    </section>
    <app-footer-page></app-footer-page>
    <go-top-button [speed]="50000" [scrollDistance]="150" [classNames]="'className'" [styles]="goTopBtnStyle">
        <i class="fa fa-arrow-up"></i>
    </go-top-button>
</div>