<div class="content">
    <app-navbar></app-navbar>
    <section id="about" class="about">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="text-blue">Projeto:</h2>
                <h5 class="text-blue mb-5">Cartografia da bacia hidrográfica do lago de Furnas</h5>
            </div>
            <div class="row align-items-center mb-4 mb-lg-5">
                <div class="col-md-6">
                    <div class="paragraph text-lg-left">
                        <p>A bacia hidrográfica da Usina Hidrelétrica de Furnas abrange uma área de aproximadamente
                            51.950km², sendo
                            51.272km²
                            pertencentes ao Estado de Minas Gerais e 678km² ao Estado de São Paulo.
                            Com o intuito de fomentar o compartilhamento de dados espaciais da bacia do lago de Furnas,
                            o presente
                            projeto busca
                            reunir arquivos espaciais no formato vetorial de diversas escalas e fontes, elaborados por
                            projetos de
                            pesquisa,
                            trabalhos de conclusão de curso, iniciação científica dentre outros, advindos de
                            instituições de ensino e
                            pesquisa,
                            governos federal e estadual, bem como demais parceiros.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid img-about" src="../../assets/img/page/projeto-bacia.png" alt=""><br>
                    <span class="desc-ferramenta text-blue mb-3">Repositório de dados cartográficos da bacia
                        hidrográfica de
                        Furnas.</span>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Equipe</h5>
                    <p>
                        André Paulo Ribeiro Junior<br>
                        E-mail: apaulo193@gmail.com
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Coordenação</h5>
                    <p>
                        Prof. Dr. Marcelo de Oliveira Latuf<br>
                        E-mail: marcelo.latuf@unifal-mg.edu.br
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Fomento</h5>
                    <p>
                        Estágio voluntário no Laboratório de Cartografia<br>
                        Semestres letivos: 2017.1 e 2019.1
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Dados disponibilizados</h5>
                    <p>
                        - Arquivos vetoriais no formato Shapefile na projeção Universal Transversa de Mercator e datum
                        horizontal
                        SIRGAS2000, que compõem
                        a bacia hidrográfica do lago de Furnas, disponibilizados por servidores de dados espaciais de
                        instituições
                        públicas federais e
                        estaduais, bem como de iniciativas propostas por universidades, institutos de pesquisas e
                        cooperações
                        diversas.<br>
                        - Buscaremos esforços para a contínua expansão de dados a respeito da bacia hidrográfica de
                        Furnas.
                    </p>
                </div>
            </div>
            <div class="row text-lg-left mb-4">
                <div class="textGroup">
                    <h5>Contatos</h5>
                    <p>
                        Universidade Federal de Alfenas<br>
                        Curso de Geografia<br>
                        Laboratório de Cartografia<br>
                        (35) 3701-1932/1933<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-footer-page></app-footer-page>
</div>