.animated-digit {
  display: inline-flex;
  height: 60px;
  width: 60px;
  color: white;
  background: rgba(0, 0, 0, 0.2) 20%;
  text-align: center;
  padding: 40px;
  border-radius: 100px;
  border: 2px solid #00d0ff;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  margin-left: 20px;
}
