<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link scroll" href="#about" (click)="scroll(about)">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll" href="#projects" (click)="scroll(projects)">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll" href="#technologies" (click)="scroll(tecknologies)">Tecnologias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll" href="#team" (click)="scroll(team)">Desenvolvedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll" href="#footer" (click)="scroll(footer)">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>