<!-- navbar -->
<div id="content">
    <nav class="navbar navbar-expand-lg materialnav navbar-header"> 
        <i class="material-icons menuicon" id="sidebarCollapse" >menu</i>
        <span style="font-size: 19px;">SisGeo 1.0</span>
        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right analises">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" style="cursor: pointer;" href="{{ sisgeoAboutUrl }}">
                        {{ 'menu.about' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" href="{{ sisgeoContactUrl }}">
                        {{ 'menu.contact' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" style="cursor: pointer;" href="{{ sisgeoHelpUrl }}">
                        {{ 'menu.help' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="changeLanguage('pt-br')">
                        <img src="{{ imgPath }}assets/img/map/br.svg" class="bandeira" alt="portugues">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="changeLanguage('en')">
                        <img src="{{ imgPath }}assets/img/map/usa.svg" class="bandeira" alt="ingles">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <img class="img-responsive" src="{{ imgPath }}assets/img/map/sisgeo.png" alt="Sisgeo">
        <p>Sistema de compartilhamento de dados geoespaciais (Versão 1.0)</p>
    </div>
    <!-- ferramentas gerais --> 
    <div class="ferramentas">
        <dfn attr.data-info="{{ 'tools.resetMap' | translate }}">
        <button type="button" class="btn" (click)="resetMap()"><i class="material-icons md-light">open_with</i></button>
        </dfn>
        <dfn attr.data-info="{{ 'tools.featureInfo' | translate }}">
            <button type="button" class="btn to-manipulate" (click)="getFeatureInfo($event)"><i class="material-icons md-light md-off to-manipulate">feedback</i></button>
        </dfn>
        <dfn attr.data-info="{{ 'tools.showCoordinates' | translate }}">
            <button type="button" class="btn to-manipulate" (click)="showCoordinates($event)"><i class="material-icons md-light md-off to-manipulate">explore</i></button>
        </dfn>
        <dfn attr.data-info="{{ 'tools.fullscreen' | translate }}">
            <button type="button" class="btn" (click)="fullScreen()"><i class="material-icons md-light">fullscreen</i></button>
        </dfn>
    </div>
    <!-- Overlayers -->
    <div *ngFor="let project of overlayers">
        
        <div *ngIf="project.layers.length > 0" class="project-group-closed" id="{{ (project.id | cleanWhiteSpace) + '_group' }}">
            <div *ngIf="project.hasTranslate; else templateTitle" class="group-title-closed" id="{{ (project.id | cleanWhiteSpace) + '_titlegroup' }}" (click)="swapGroupLayer(project);">
                <span class="badge badge-light badge-pill">{{ project.layers.length }}</span>
                {{ 'layerControl.' + project.id + '.name' | translate }}
            </div>
            <ng-template #templateTitle>
                <div class="group-title-closed" id="{{ (project.id | cleanWhiteSpace) + '_titlegroup' }}" (click)="swapGroupLayer(project);">
                    <span class="badge badge-light badge-pill">{{ project.layers.length }}</span>
                    {{ project.name }}
                </div>
            </ng-template>
            <div class="material-switch grp-prj pull-right">
                <input id="{{(project.id | cleanWhiteSpace) + '_grp-crtl' }}" name="someSwitchOption002" type="checkbox" (change)="projectGroupOnOff($event.srcElement, project)" checked="{{ (project.enabled) ? 'checked' : null }}"/>
                <label *ngIf="!overlayerChecked" class="bg-white" style="cursor: default;"></label>
                <label *ngIf="overlayerChecked" for="{{(project.id | cleanWhiteSpace)  + '_grp-crtl' }}" class="bg-white"></label>
            </div>

            <div class="grid-stack" id="{{ 'grid-stack-' + project.id }}">
                <div *ngFor="let layer of project.layers" class="grid-stack-item" id="{{ (layer.id | cleanWhiteSpace) + '_gslayer' }}" data-gs-x="0" data-gs-y="{{ layer.uiOrder }}" data-gs-width="12" data-gs-height="1">
                    <div class="grid-stack-item-content">
                        <ul class="list-unstyled components list h-100 layer-list">
                            <li>
                                <a href="{{'#' + (layer.id | cleanWhiteSpace)}}" id="{{ (layer.id | cleanWhiteSpace) + '_gstoggle' }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdown-layer" (click)="changeHeightLayerItem(layer.id,project.id)">
                                    <dfn class="ferramenta-camada" attr.data-info="{{ 'tools.layerOptions' | translate }}">
                                        <i class="material-icons layer-settings">settings</i>
                                    </dfn>
                                    <div class="layer-title">
                                        <div *ngIf="layer.hasTranslate; else templateTitle" title="{{ 'layerControl.' + project.id + '.' + layer.id | translate }}">
                                            {{ 'layerControl.' + project.id + '.' + layer.id | translate }}
                                        </div>
                                        <ng-template #templateTitle>
                                            <div title="{{ layer.title }}">{{ layer.title | slice:0:21 }}{{ (layer.title.length>21)?('...'):('') }}</div>
                                        </ng-template>
                                    </div>
                                </a>
                                <div class="material-switch pull-right">
                                    <input id="{{(layer.id | cleanWhiteSpace) + '_1' }}" name="someSwitchOption001" type="checkbox" (change)="layerOnOff($event.srcElement, layer, project)" checked="{{ (layer.active) ? 'checked' : null }}"/>
                                    <label for="{{(layer.id | cleanWhiteSpace)  + '_1' }}" class="bg-white"></label>
                                </div>               
                            </li>
                            <li class="collapse list-unstyled dropdown" id="{{(layer.id | cleanWhiteSpace)}}" style="border-bottom: none;">
                                <div class="fe-camadas">  
                                    <div *ngFor="let tool of layer.tools">
                                        <div *dynamicComponent="tool.target; context: { layer: layer };"></div>
                                    </div>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </div>
                <div class="grid-stack-placeholder"></div>
            </div>
        </div>
    </div>
</nav>

 <!-- start customized base layer menu -->
 <div class="btnbaselayer">
    <div class="baselayer custom-radios">
        <i class="material-icons md-light">layers</i>
        <ul>
            <li class="icon" *ngFor="let layer of baselayers">
                <input type="radio" 
                  id="{{layer.title}}" 
                  name="color" 
                  value="{{layer.active}}" 
                  checked="{{ (layer.active) ? 'checked' : null }}"
                  (change)="layerBaseLayerChange(layer)">
                <label for="{{layer.title}}"><span></span></label>              
                <span class="text">{{layer.title}}<br *ngIf="layer.description" />
                    <div *ngIf="layer.description" style="font-size: small;">{{layer.description}}</div>
                </span>
            </li>                                      
        </ul>
    </div>
</div>

<!-- map -->
<div id="map" class="container-fluid mapa" style="background-color: #fff !important;"></div>